@page
@model techtshirt.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Order</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-9">
       <!-- Main order form starts here -->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Order.customer_id" class="control-label col-sm-3  col-form-label">Customers</label>
                <div class="col-sm-9">
                    <select class="form-control" asp-for="Order.customer_id" asp-items="Model.Options"></select>
                    <span asp-validation-for="Order.customer_id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.status" class="control-label col-sm-3 col-form-label">Order Status</label>
                <div class="col-sm-9">
                    <input asp-for="Order.status" class="form-control" />
                    <span asp-validation-for="Order.status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.total_sale_price" class="control-label col-sm-3 col-form-label">Total Sale Price</label>
                <div class="col-sm-9">
                    <input asp-for="Order.total_sale_price" class="form-control" />
                    <span asp-validation-for="Order.total_sale_price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.total_pieces" class="control-label col-sm-3 col-form-label">Total Pieces</label>
                <div class="col-sm-9">
                    <input asp-for="Order.total_pieces" class="form-control" />
                    <span asp-validation-for="Order.total_pieces" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.reference_code" class="control-label col-sm-3 col-form-label">Reference Code</label>
                <div class="col-sm-9">
                    <input asp-for="Order.reference_code" class="form-control" />
                    <span asp-validation-for="Order.reference_code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.date_placed" class="control-label col-sm-3 col-form-label">Order Date Placed</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input asp-for="Order.date_placed" class="form-control SelectedDate" />
                        <div class="input-group-append">
                            <span class="input-group-text"><svg class="octicon octicon-calendar" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path></svg></span>
                        </div>
                    </div>
                    <span asp-validation-for="Order.date_placed" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.date_shipped" class="control-label col-sm-3 col-form-label">Order Date Shipped</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input asp-for="Order.date_shipped" class="form-control SelectedDate"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><svg class="octicon octicon-calendar" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path></svg></span>
                        </div>
                    </div>
                    <span asp-validation-for="Order.date_shipped" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-page-handler="Order" class="btn btn-primary" />
            </div>
        </form>
        <!-- Inventory product form -->
        <form method="post">
            <div class="form-group row">
                <label asp-for="Order_Inventory.InventoryId" class="control-label col-sm-3  col-form-label">Inventory Product</label>
                <div class="col-sm-9">
                    <select class="form-control" asp-for="Order_Inventory.InventoryId" asp-items="Model.InvOptions"></select>
                    <span asp-validation-for="Order_Inventory.InventoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order_Inventory.order_qty" class="control-label col-sm-3 col-form-label">Quantity</label>
                <div class="col-sm-9">
                    <input asp-for="Order_Inventory.order_qty" class="form-control" />
                    <span asp-validation-for="Order_Inventory.order_qty" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Product" asp-page-handler="Inventory" class="btn btn-primary" />
            </div>
        </form>
        <!-- product totals table -->
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Order</th>
                <th scope="col">Inventory Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Sale Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>sdf</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>df</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>dsf</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
