@page
@model techtshirt.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Order</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-9">
       <!-- Main order form starts here -->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Order.customer_id" class="control-label col-sm-3  col-form-label">Customers</label>
                <div class="col-sm-9">
                    <select class="form-control" asp-for="Order.customer_id" asp-items="Model.Options"></select>
                    <span asp-validation-for="Order.customer_id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.total_sale_price" class="control-label col-sm-3 col-form-label">Total Sale Price</label>
                <div class="col-sm-9">
                    <input type="hidden" asp-for="Order.total_sale_price" class="form-control" />
                    <span asp-validation-for="Order.total_sale_price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.total_pieces" class="control-label col-sm-3 col-form-label">Total Pieces</label>
                <div class="col-sm-9">
                    <input type="hidden"  asp-for="Order.total_pieces" class="form-control" />
                    <span asp-validation-for="Order.total_pieces" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.reference_code" class="control-label col-sm-3 col-form-label">Reference Code</label>
                <div class="col-sm-9">
                    <input asp-for="Order.reference_code" class="form-control" />
                    <span asp-validation-for="Order.reference_code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.date_placed" class="control-label col-sm-3 col-form-label">Order Date Placed</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input asp-for="Order.date_placed" class="form-control SelectedDate" />
                        <div class="input-group-append">
                            <span class="input-group-text"><svg class="octicon octicon-calendar" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path></svg></span>
                        </div>
                    </div>
                    <span asp-validation-for="Order.date_placed" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.date_shipped" class="control-label col-sm-3 col-form-label">Order Date Shipped</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input asp-for="Order.date_shipped" class="form-control SelectedDate"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><svg class="octicon octicon-calendar" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path></svg></span>
                        </div>
                    </div>
                    <span asp-validation-for="Order.date_shipped" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create"  id="postRelations" class="btn btn-primary" />
            </div>
        </form>
        <!-- Inventory product form -->
        <form>
            <div class="form-group row">
                <label asp-for="Order_Inventory.InventoryId" class="control-label col-sm-3  col-form-label">Inventory Product</label>
                <div class="col-sm-9">
                    <select class="form-control" asp-for="Order_Inventory.InventoryId" id="invId" asp-items="Model.InvOptions"></select>
                    <span asp-validation-for="Order_Inventory.InventoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order_Inventory.order_qty" class="control-label col-sm-3 col-form-label">Quantity</label>
                <div class="col-sm-9">
                    <input asp-for="Order_Inventory.order_qty" id="orderquantity" class="form-control" />
                    <span asp-validation-for="Order_Inventory.order_qty" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="button" id="AddObject" value="Add Product"  class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div class="col-md-12">
            <!-- product totals table -->
        <h2 class="heading-level-2">Order Items</h2>
        <div class="table-responsive">
        <table class="table table-striped table-bordered" id="totalTable">
            <thead>
                <tr class="titlerow">
                <!-- <th scope="col">Inv Id</th>
                <th scope="col">Inventory Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Item Total</th> -->
                <p class="empty">No order items to display.</p>
                </tr>
            </thead>

            </table>
        </div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Styles {
    <link href="@Url.Content("~/css/orderentry.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    // will calculate total of prices
    function calculatePriceTotal () {
        var sum = 0;
        $('.pricecol').each(function() {
            // sum += parseFloat($(this).val());
            console.log($(this).text(), 'HI im the cols')
            let curNum = parseFloat($(this).text());
             sum += curNum;
            // var number = parseInt($(this).find('.number').text(), 10);
            // sum = sum.toFixed(2);
        });

        return sum.toFixed(2);
        }

    // will calculate total of quantity
    function calculateQuantityTotal () {
        var sum = 0;
        $('.quantitycol').each(function() {
            // sum += parseFloat($(this).val());
            console.log($(this).text(), 'HI im the cols')
            let curNum = parseInt($(this).text());
             sum += curNum;
        });

        return sum;
        }

    $(document).ready(function(){


         if($('tbody').length == 0) {
             console.log("Butt Hash")
            }

        $('#AddObject').click(function () {
            var splitMe = $("#invId").val();
            var orderquantity = $("#orderquantity").val();
            var product = $("#invId option:selected").text();
            // for total price need to multiple quantity and price
            var delimitedIdPrice = splitMe.split("|")

            let finalPrice = orderquantity * delimitedIdPrice[1]
            $("#totalTable").each(function () {
                let tds = '<tr><td>' + delimitedIdPrice[0] + '</td><td>' + product + '</td><td>' + orderquantity + '</td><td>' + finalPrice + '</td></tr>'
                var $tbody = $("<tbody>");
                let ths = '<th>Inv Id</th><th>Inventory Product</th><th>Quantity</th><th>Item Total</th>'

                // if tbody does not exist append body with first inventory inputted otherwise insert before the final total row and adds pricecol class to last child td and quantitycol to 2nd to last
                if ($('tbody', this).length > 0) {

                    $(tds).insertBefore( "#finalTotalRow" );
                    $('tr:not(".titlerow"):not("#finalTotalRow")  td:last-child', this).addClass('pricecol')
                     $('tr:not(".titlerow"):not("#finalTotalRow")  td:nth-last-child(2)', this).addClass('quantitycol')
                } else {
                    // insert the thead columns
                    $('.empty').remove();
                    $('.titlerow', this).append(ths);


                    $(this).append($tbody);
                    $('tbody', this).append(tds);
                    $('tr:not(".titlerow"):not("#finalTotalRow")  td:last-child', this).addClass('pricecol')
                    $('tr:not(".titlerow"):not("#finalTotalRow")  td:nth-last-child(2)', this).addClass('quantitycol')
                }


            // calculate finalTotal and add to table at end and finalTotal workflow begins here
            let finalTotal = calculatePriceTotal()
            let finalQuantity = calculateQuantityTotal()

            if($("[id=finalTotalRow]").length > 0) {
                // console.log("the row final total exists")
                $('#finalTotalRow').html('<td>' + '</td><td>'+ '</td><td>' + 'Order Total' + '</td><td>' + finalTotal + '</td>');

                $('#finalTotalRow td:last-child', this).attr("name", "Order_total_sale_price");
                $('#finalTotalRow td:last-child', this).attr("value", finalTotal);

                // updates to final totals
                $( "#Order_total_sale_price" ).attr("value",finalTotal);
                $( "#Order_total_pieces" ).attr("value",finalQuantity);
            }
            else{
                // console.log("yo row does not exists")
                var $totaltr = $("<tr>", { "id": "finalTotalRow"});
                var $tdVal = $("<td>", { "name": "Order_total_sale_price"});
                $totaltr.append("<td></td>")
                $totaltr.append("<td></td>")
                $totaltr.append("<td>Order Total</td>")

                $tdVal.append(finalTotal)

                $totaltr.append($tdVal)

                $('tbody', this).append($totaltr);

                // Updates the model binded input with the final total so it can be used in post
                $( "#Order_total_sale_price" ).attr("value", finalTotal);
                $( "#Order_total_pieces" ).attr("value", finalQuantity);
            }
     });
});


        // post for order customer relationships begin here using ajax
        $('#postRelations').click(function () {
            // Grab the information needed to update loads data for ajax call
            var invDto = []

            var customer_id = $('#Order_customer_id').val();
            var total_sale_price = $('#Order_total_sale_price').val();
            var total_pieces = $('#Order_total_pieces').val();
            var reference_code = $('#Order_reference_code').val();
            var date_placed = $('#Order_date_placed').val();
            var date_shipped = $('#Order_date_shipped').val();

            let ordModel = {
                customer_id,
                total_sale_price,
                total_pieces,
                reference_code,
                date_placed,
                date_shipped
            }
            console.log(ordModel)

            $('tbody tr:not("#finalTotalRow")').each(function() {
                let obj = {}
                $(this).children('td').each(function(index, val) {

                    if(index == 4){
                        return false;
                    }
                    console.log(index, $(this).text(), 'i am current td')
                    switch(index) {
                        case 0:
                        //execute code block 1
                            obj["invId"] = $(this).text();
                        case 1:
                        //execute code block 2
                            obj["product"] = $(this).text();
                        case 2:
                        //execute code block 2
                            obj["quantity"] = $(this).text();
                        case 3:
                        //execute code block 2
                            obj["itemtotal"] = $(this).text();
                        default:
                        // code to be executed if n is different from case 1 and 2
                        }

                    // console.log($(this).val(), 'HI im each td value')



                    });
                invDto.push(obj)
            });

            console.log(invDto, 'final list')

            // Let's edit the description!
            $.ajax({
                type: "POST",
                url: "/Orders/Create?handler=Order", // the method we are calling
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ data: invDto, order: ordModel }),
                dataType: "json",
                success: function (result) {
                    alert('Yay! It worked!');
                    // Or if you are returning something
                    alert('I returned... ');
                },
                failure: function (response) {
                    alert(response);
                }
            });

        });


    });


</script>
}
