@page
@model techtshirt.Pages.Inventorys.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inventory.name" class="control-label"></label>
                <input asp-for="Inventory.name" class="form-control" />
                <span asp-validation-for="Inventory.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.description" class="control-label"></label>
                <input asp-for="Inventory.description" class="form-control" />
                <span asp-validation-for="Inventory.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.size" class="control-label"></label>
                <input asp-for="Inventory.size" class="form-control" />
                <span asp-validation-for="Inventory.size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.color" class="control-label"></label>
                <input asp-for="Inventory.color" class="form-control" />
                <span asp-validation-for="Inventory.color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.on_hand_qty" class="control-label"></label>
                <input asp-for="Inventory.on_hand_qty" class="form-control" />
                <span asp-validation-for="Inventory.on_hand_qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.cost" class="control-label"></label>
                <input asp-for="Inventory.cost" class="form-control" />
                <span asp-validation-for="Inventory.cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.sale_price" class="control-label"></label>
                <input asp-for="Inventory.sale_price" class="form-control" />
                <span asp-validation-for="Inventory.sale_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.allocated_qty" class="control-label"></label>
                <input asp-for="Inventory.allocated_qty" class="form-control" />
                <span asp-validation-for="Inventory.allocated_qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.total_qty" class="control-label"></label>
                <input asp-for="Inventory.total_qty" class="form-control" />
                <span asp-validation-for="Inventory.total_qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
