@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="heading-level-2">Order Manager</h2>
    <div class="row">
        <div class="col-sm">
            <h4>Orders Received From 09/01/2019 to 09/30/2019</h4>
        </div>
        <div class="col-sm">
            <h4>Best Selling Products</h4>
        </div>
    </div>

</div>
