@page
@model techtshirt.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div>
    <h2 class="heading-level-2">Order Manager</h2>
    <div class="row">
        <div class="col-sm">
            <h4>Orders Received From 09/01/2019 to 09/30/2019</h4>
        </div>
        <div class="col-sm">
            <div id="container" style="width:100%; height:400px;">

            </div>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        var sourcearray = JSON.parse('@Html.Raw(Json.Serialize(Model.Order_Inventory))');
        var inventoryarray = JSON.parse('@Html.Raw(Json.Serialize(Model.Inventory))');

        // load inventory array
        let dataArr = inventoryarray.map((e) => {

            let resultingSum = sourcearray.reduce((acc, cur)=>{
                if(cur.inventoryId == e.id){
                    acc += cur.order_qty
                }
                return acc
            },0)



          return {name: e.name, y: resultingSum}
        })


        // load quantity of each t shirt

        document.addEventListener('DOMContentLoaded', function () {
        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Best Selling Products'
            },
            series: [{
                name: 'Total Requested',
                colorByPoint: true,
                data: dataArr
            }]
        });
    });
    </script>
}
